<!-- Deferrable Views: Means, until the main screen is loading what we want to show on our screen to the users. 4 types which we can show, 
 1: @defer: means if we want to show any image or data before the main page we will show it in defer
 2: @error: if net connection is lost we will show this
 3: @placeholder: if net is slow then we will show what we want to show in this
 4: @loading: and if we want to show the loading if the net is slow. we will show it in placeholder too -->

 <!-- at first it will load the main html page and then will load the item component's page -->
  <!-- item component is the child component and is added in the parent component here, means the parent component is picking the data from the child component --> 
   
    <h1>Something to know</h1>

 @for(da of data; track da){
    @defer {
        <app-item></app-item>
    }
    @placeholder {
        <!-- <div class="class">Picture is loading</div>    -->
    }

    @loading {
        <!-- <div class="class">Just loading</div>    -->
    }

    @error{
        <div class="clas">Error loading pic</div>
    }
}
